machines
*.txt
*.log

src/gaspi_logger
src/GPI2.pc
docs/Doxyfile
src/.libs

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

#autoconf
build-aux/
config.h
configure.ac
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# libtool
/ltmain.sh
libtool

# texinfo

/texinfo.tex

# m4

config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4

Makefile

### Autotools Patch ###

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Executables
*.exe
*.out
*.hex
*.bin

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
