*.o
*.lo
*.mod

*.in
*.a
*.so
*.la

*.log
*.install

docs/doxygen-doc/

.deps/
.libs/
.dirstamp
libtool
config.h
config.status
stamp-h1
doxyfile-stamp
Makefile

*.bin
*.exe
/tests/defs/default.def
machines

!tutorial/code/basic/Makefile
!tutorial/code/ring-1d/gaspi/Makefile
!tutorial/code/ring-1d/mpi/Makefile
!tutorial/code/advanced/Makefile

docs/Doxyfile
docs/doxygen
!docs/Doxyfile.in